[Unit]
Description=Server State Telemetry Daemon
After=network.target

[Service]
# 루트가 아닌 일반 유저 권한으로 실행하는 것을 권장합니다.
# 경로와 유저명을 환경에 맞게 수정하세요.
User=root
Group=root

Type=simple
# 실행 파일의 절대 경로를 지정하세요.
ExecStart=/opt/sstd

# 예기치 않게 종료될 경우 자동 재시작
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
